@import url("modal.css");
@import url("movie-box.css");
@import url("watched-movies.css");

/*
-------HEADER------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(26, 26, 26);
    height: 170px;
}

#logo {
    height: 150px;
    margin: 10px 0 0 45px;
    width: 40%;
}

#welwords{
    color: greenyellow;
    font-size: 50px;
    font-family: impact;
    font-style: italic;
    margin-top: 30px;
    
}


/*add input and button*/

#add-movie-input {
    margin-top: -20px;
    margin-left: 0px;
    border-radius: 0;
    height: 50px;
    width: 300px;
    float: right;
    background-color: rgb(237, 237, 237);
    border: rgb(236, 11, 11) 2px solid;
    color: black;
}

#add-movie-button {
    margin-top: -20px;
    margin-right: -400px;
    border-radius: 0;
    float: right;
    height: 30px;
    background-color: #f1f1f1;
    color: black;
    height: 50px;
    width: 100px;
    text-align: center;
}

#add-movie-image {
    max-width: 30px;
}

#add-movie-button:hover {
    opacity: .5;
    cursor: pointer;
    background-color: black;
    color: white;
}


/*end of add button*/


/*
-------MAIN---------------------------------
*/


/*search button*/

#search-movie-input {
    margin-top: 45px;
    margin-left: 45px;
    border-radius: 0;
    height: 30px;
    width: 245px;
    float: left;
    background-color: rgb(237, 237, 237);
    border: none;
}

#search-movie-button {
    margin-top: 45px;
    margin-right: 25px;
    border-radius: 0;
    float: left;
    height: 30px;
}

#search-movie-button:hover {
    opacity: .5;
}


/*
-------FOOTER---------------------------------
*/

.footer {
    bottom: 0;
    background: rgb(26, 26, 26);
    height: 50px;
    width: 100%;
}

#footer_text {
    
    margin-right: 25px;
    margin-top: 18px;
    font-size: 12px;
    color: rgb(199, 198, 198);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#sort-box {
    margin-top: 50px;
    margin-left: 50px;
}

#sortYear-img {
    height: 30px;
}

#sortYear-img:hover {
    opacity: 0.5;
    cursor: pointer;
}

#sortRating-box {
    margin-left: 30px;
}

#sortRating-img {
    height: 30px;
}

#sortRating-img:hover {
    opacity: 0.5;
    cursor: pointer;
}


